.meal-shop {
    display: grid;
    grid-template-columns: 4fr 1fr;

}
.meal-grid {
   display: grid;
   grid-template-columns: repeat(3, 1fr); 
   grid-gap: 25px;
}
.meal-container {
    margin-top: 50px;
    position: sticky;
    margin-top: 0px;
}

.search-btn {
   
}
.meal-cart {
    background-color: antiquewhite;
    position: sticky;
    margin-top: 0px;
}