.meal {
    height: 550px;
    width: 350px;
    border: 1px solid black;
    border-radius: 15px;
    box-shadow:  0 0 8px 4px;
    word-wrap: break-word;
    position: relative;
}
.meal img {
    height: 286px;
    width: 286px;

}
.text {
    padding: 5px;
    margin: 14px;
    
}
.cart-btn {
    width: 100%;
    background-color: bisque;
    border: none;
    border-radius: 0 0 8px 8px;
    margin-bottom: 0;
}
.cart-btn:hover {
    background-color: rgb(255, 255, 255);
    border: royalblue;
    
}